.heroContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 100px;
}

.heroSubtitle {
  color: #002b50;
  font-size: 40px;
  line-height: 120%;
  font-weight: normal;
}

.heroTitle {
  color: #da1e28;
  font-size: 80px;
  line-height: 110%;
  font-weight: bold;
}

.watchVideoButtonContainer {
  margin-top: 32px;
}

.watchVideoButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 19.2px;
  line-height: 150%;
  border: none;
  color: #304ffe;
  background-color: #ffffff;
}

.iconPlayCircle {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .heroSubtitle {
    font-size: 23.04px;
  }

  .heroTitle {
    font-size: 47.78px;
  }
}
