.supportersContainer {
  display: inline-block;
  position: relative;
  margin: 128px auto 0 auto;
}

.supportersSubtitle {
  font-size: 33px;
  font-weight: bold;
}

.supportersLeft {
  max-width: 320px;
}

.supportersRight {
  margin-top: 42px;
  max-width: 320px;
}

.supportersLine a {
  margin-top: 36px;
  height: 48px;
}

.supportersRight img {
  max-height: 48px;
  max-width: 152px;
}

.button {
  color: #304FFE;
  border: none;
  border-radius: 4px;
  background: #FFF;
  padding: 8px 16px;
}

.buttonOutlined {
  color: #304FFE;
  background: #FFF;
  border-color: #304FFE;
  border-width: 1px;
  border-radius: 4px;
  font-weight: 500;
  margin-top: 32px;
  padding: 8px 16px;
}

.button:hover,
.buttonOutlined:hover {
  background-color: #304FFE;
  color: #FFF;
}

@media (min-width: 961px) {
  .supportersContainer {
    display:flex;
  }

  .supportersLeft {
    margin-right: 149px;
  }

  .supportersRight {
    margin-top: 0;
  }

  .supportersRight .supportersLine:last-child {
    margin-bottom: 0;
  }

  .supportersRight .supportersLine {
    margin-bottom: 36px;
  }
}
